.AppBuserModal {
  .compModal-header {
    padding: 10px 10px 6px 10px;
    border-bottom: 1px solid var(--divider-a50);
  }

  .compModal-body {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .appBuserModal-iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }
}
