.GUI {
  font-family: $font-family;

  h3 {
    color: var(--primary);
    display: flex;
    align-items: center;

    &:before {
      content: "";
      background-color: var(--primary);
      border-radius: 5px;
      width: 4px;
      height: 22px;
      display: block;
      margin-right: 8px;
    }
  }
  .testScrollBar {
    margin: 20px 0;
    width: 100px;
    height: 100px;
    overflow: auto;
    border: 1px solid var(--divider);
    @include no-scroll-bar();
    @include use-scroll-bar(var(--scrollbar));
  }
  .lookThemeMode {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
  }

  .google-material-box {
    > i {
      font-size: 30px;
    }
  }

  .lookColor {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    width: 100px;
    height: 100px;
  }
}
