.ProjectDashboard {
  &.views-page {
    padding: 0;
    overflow-y: auto;
  }

  .createProjectOptionBox {
    position: absolute;
    right: 100px;
    top: calc(100% + 6px);
    .description {
      color: var(--text-muted);
    }
  }
}
