.TeamAccessManagement {
  .views-page-header {
    .search-box {
      position: relative;
      display: flex;
      align-items: center;
      > i {
        position: absolute;
        left: 8px;
        color: var(--color-text-alpha50);
        pointer-events: none;
      }
      .custom-input {
        padding-left: 34px;
      }
    }
  }

  .table-box {
    .custom-table {
      th {
        white-space: nowrap;
      }
      .col-action {
        text-align: right;
        white-space: nowrap;
      }
    }

    .owner-icon {
      color: var(--color-text-alpha50);
      vertical-align: middle;
      margin-right: 4px;
    }

    .action-btn {
      color: var(--color-text-alpha50);
      cursor: pointer;
      border-radius: 4px;
      padding: 2px;
      &:hover {
        background-color: var(--color-background-2-alpha20);
      }
    }
  }
}
